.card {
    position: relative !important;
    background-color: white !important;
    width: 600px !important;
    padding: 20px !important;
    max-width: 85vw !important;
    height: 40vh !important;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3) !important;
    background-size: cover !important;
    background-position: center !important;
}

.cards__cardsContainer {
    display: flex !important;
    justify-content: center !important;
    margin-top: 10vh !important;
}

.swipe {
    position: absolute !important;
}

.cardContent {
    width: 100% !important;
    height: 100% !important;
}

.card h3 {
    position: absolute !important;
    bottom: 0 !important;
    margin: 10px !important;
    color: black !important;
    -webkit-text-fill-color: white !important;
    -webkit-text-stroke: .5px !important;
}