.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.header__icon {
  color: black !important;
  transform: scale(1.5);
}  

.header__logo {
  object-fit: contain;
}

#tilt {
  box-shadow: 0 0px 0px rgba(0,0,0,0) !important;
  padding: 0 !important;
  margin: 0 !important;
}